<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="PageNoProvider" value="True"/>
    <add key="PageSizeProvider" value="True"/>
    <add key="LastSurveyDate" value="30/07/2011"/>
    <add key="SurveyURL" value="http://192.9.200.150/WebHrAdm1/admQlfUpdate.aspx"/>
    <add key="hrms._hrmWebServices" value="http://localhost/WebHrms1/App_Services/_hrmWebServices.asmx"/>
  </appSettings>
  <connectionStrings>
    <remove name="AspNetDBConnection"/>
    <add name="--AspNetDBConnection" connectionString="Data Source=192.168.28.136;Initial Catalog=IJTPerks;Integrated Security=False;User Instance=False;Persist Security Info=True;User ID=sa;Password=isgec12345" providerName="System.Data.SqlClient"/>
    <add name="AspNetDBConnection" connectionString="Data Source=192.9.200.150;Initial Catalog=IJTPerks;Integrated Security=False;User Instance=False;Persist Security Info=True;User ID=sa;Password=isgec12345" providerName="System.Data.SqlClient"/>
    <add name="-AspNetDBConnection" connectionString="Data Source=.\LGSQL;Initial Catalog=IJTPerks;Integrated Security=False;User Instance=False;Persist Security Info=True;User ID=sa;Password=isgec12345" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <codeSubDirectories>
        <add directoryName="STD"/>
        <add directoryName="ADM"/>
        <add directoryName="IT"/>
      </codeSubDirectories>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" protection="None" timeout="50"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AspNetDBConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="8" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add connectionStringName="AspNetDBConnection" name="AspNetSqlRoleProvider" type="system.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <sessionState cookieless="UseDeviceProfile" timeout="60"/>
    <customErrors mode="RemoteOnly"/>
    <identity impersonate="false"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <globalization culture="en-GB" uiCulture="en-GB" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages maintainScrollPositionOnPostBack="true" styleSheetTheme="Default">
      <controls>
        <add tagPrefix="AJX" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="RGV" namespace="LavaBlast.AJAX.GridViewResizeExtender" assembly="GridViewResizeExtender"/>
        <add tagPrefix="LGM" tagName="LoginLine" src="~/Sys_Controls/Login0.ascx"/>
        <add tagPrefix="LGM" tagName="LoginPage" src="~/Sys_Controls/Login1.ascx"/>
        <add tagPrefix="LGM" tagName="ChangePass" src="~/Sys_Controls/Login2.ascx"/>
        <add tagPrefix="LGM" tagName="ToolBar0" src="~/Sys_Controls/lgToolbar.ascx"/>
        <add tagPrefix="LGM" tagName="ToolBar" src="~/Sys_Controls/lgToolbar.ascx"/>
        <add tagPrefix="LGM" tagName="Informations" src="~/Sys_Controls/Controls/Informations.ascx"/>
        <add tagPrefix="LGM" tagName="LGLoading" src="~/Sys_Controls/lgLoading.ascx"/>
        <add tagPrefix="LGM" tagName="LGMessage" src="~/Sys_Controls/lgMessage.ascx"/>
        <add tagPrefix="LGM" tagName="LGAlert" src="~/Sys_Controls/lgAlert.ascx"/>
        <add tagPrefix="LGM" tagName="NavBar" src="~/Sys_Controls/lgNavBar.ascx"/>
        <add tagPrefix="LGM" tagName="LGMessageBox" src="~/Sys_Controls/lgMessageBox.ascx"/>

        <add tagPrefix="LGM" tagName="LC_admUsers" src="~/ADM_Main/APP_FKControls/LC_admUsers.ascx" />


        <add tagPrefix="LGM" tagName="LC_admDepartments" src="~/ADM_Main/APP_FKControls/LC_admDepartments.ascx" />
        <add tagPrefix="LGM" tagName="LC_admOffices" src="~/ADM_Main/APP_FKControls/LC_admOffices.ascx" />
        <add tagPrefix="LGM" tagName="LC_admDesignations" src="~/ADM_Main/APP_FKControls/LC_admDesignations.ascx" />
        <add tagPrefix="LGM" tagName="LC_admEmployees" src="~/ADM_Main/APP_FKControls/LC_admEmployees.ascx" />
        <add tagPrefix="LGM" tagName="LC_admSchedules" src="~/ADM_Main/APP_FKControls/LC_admSchedules.ascx" />
        <add tagPrefix="LGM" tagName="LC_admServices" src="~/ADM_Main/APP_FKControls/LC_admServices.ascx" />
        <add tagPrefix="LGM" tagName="LC_admCheckPoints" src="~/ADM_Main/APP_FKControls/LC_admCheckPoints.ascx" />
        <add tagPrefix="LGM" tagName="LC_admMeasures" src="~/ADM_Main/APP_FKControls/LC_admMeasures.ascx" />

        <add tagPrefix="LGM" tagName="LC_admEMailGroups" src="~/ADM_Main/APP_FKControls/LC_admEMailGroups.ascx" />
        <add tagPrefix="LGM" tagName="LC_admITEventTransactions" src="~/ADM_Main/APP_FKControls/LC_admITEventTransactions.ascx" />
        <add tagPrefix="LGM" tagName="LC_admITServices" src="~/ADM_Main/APP_FKControls/LC_admITServices.ascx" />

        <add tagPrefix="LGM" tagName="LC_admITCallTypes" src="~/ADM_Main/APP_FKControls/LC_admITCallTypes.ascx" />
        <add tagPrefix="LGM" tagName="LC_admITCallStatus" src="~/ADM_Main/APP_FKControls/LC_admITCallStatus.ascx" />

        <add tagPrefix="LGM" tagName="LC_admQualifications" src="~/ADM_Main/APP_FKControls/LC_admQualifications.ascx" />

        <add tagPrefix="LGM" tagName="LC_admCallTypes" src="~/ADM_Main/APP_FKControls/LC_admCallTypes.ascx" />
        <add tagPrefix="LGM" tagName="LC_admCallStatus" src="~/ADM_Main/APP_FKControls/LC_admCallStatus.ascx" />

        <add tagPrefix="LGM" tagName="LC_admITCallSubTypes" src="~/ADM_Main/APP_FKControls/LC_admITCallSubTypes.ascx" />
      </controls>
    </pages>
    <httpRuntime maxRequestLength="65536" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="leave@isgec.co.in">
        <network host="192.9.200.214" userName="leave" password="ijt123"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <defaultDocument>
      <files>
        <remove value="iisstart.htm"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="100000000"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
</configuration>